body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}
h3{
  font-size: 40px;
}
section{
  margin-bottom: 100px;
}
.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.contener{
  background-image: url(images/donation13.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;  
  text-align: center;  
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(red,tomato);
  padding: 15px 35px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.text-contener{
  text-align: center;
}
.amount-container{
  display: flex;
  justify-content: center;

}

.half-width{
  margin-right: 5px;
  margin-left: 5px;
  border: 0px solid rgb(165, 163, 163);
  width: 80px;
  padding: 10px 20px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 5px;
}

.border-contener{
  border: 3px solid red;
  background: rgb(231, 179, 168);
  color: red;
}

input{
  width: 40%;
  text-align: center;
  border: 0;
  outline: 0;
  padding: 8px;
  border-bottom: 2px solid gray;
  box-shadow: none;
  color: gray;
}
.link-button-1{
  text-decoration: none;
  background-image: linear-gradient(red,tomato);
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.container-item{
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.card{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 300px;
  margin: 5px;
}
.card img{
  height: 40px;
  width: 40px;
}

#food-for-family{
  background-color: cadetblue;
}

#shelter-for-family{
  background-color: palevioletred;
}
#education-for-child{
  background-color: skyblue;
}

.donation-items{
  display: flex;
}
.half-width-1{
  width: 50%;
}
.half-width-1 img{
  width: 80%;
}