body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}
.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.contener{
  background-image: url(images/donation13.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;  
  text-align: center;  
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(red,tomato);
  padding: 15px 35px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
